spring:
  application:
    name: libraryapi

# jdbc:postgresql://localhost:5439/library_db fora do docker
  datasource:
    url: jdbc:postgresql://libraryapi-database.c8vi4oymysqy.us-east-1.rds.amazonaws.com:5432/library_db
    username: ${DATASOURCE_USERNAME:library_user}
    password: ${DATASOURCE_PASS:library_pass}
    driver-class-name: org.postgresql.Driver

  # gerar as tabelas automaticamente
  jpa:
    hibernate:
      ddl-auto: none
    # mostrar as queries no console
    show-sql: true
    properties:
      hibernate.format_sql: true

  # OAuth2 Configuration
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}

  #definir cores de log
  output:
    ansi:
      enabled: ALWAYS

# criando arquivo de logger
logging:
  file:
    name: libraryapi.log

  # definindo niivel de log
  level:
    root: warn
    org:
      springframework:
        web: debug
        security: trace
    #definir o nivel do log para o meu projeto
    com:
      giordanni: trace

#desabilita as respostas genericas da API
springdoc:
  override-with-generic-response: false


#definir fuso horario padrao
 # logging.pattern.console= '%clr(%d{dd-MM-yyyy HH:mm:ss}){faint} %clr(%5p) %clr([%t]){faint} %clr(%-40.40logger){cyan} %clr(:){yellow} %m%n'

#actuator
management:
  endpoints:
    web:
      exposure:
        include: '*'

#management.endpoints.web.exposure.include=health,info,metrics,loggers,httptrace

# producao
---
spring:
  config:
    activate:
      on-profile: production